
/* font-size response */
@media (max-width: 288px)
{
    html { font-size:0.4em; }
}

@media (min-width: 289px) and (max-width: 414px)
{
    html { font-size:0.6em; }
}

@media (min-width: 415px) and (max-width: 991px)
{
    html { font-size:1.2em; }
}

@media (min-width: 992px) and (max-width: 1300px)
{ 
    html {font-size:1.5em;}
}

@media (min-width: 1300px) and (max-width: 2000px){  
    html {font-size:2.0em;}    
}

@font-face{
    font-family: "Belwe";
    src: url("./layout/Belwe.ttf") format("truetype");
}

#cardsHeader{
    font-family: "Belwe";
}

img{
    height:310px;
    width:260px;
    transition-duration: 0.5s;
}

img:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition-duration: 0.5s;
    cursor: pointer;
}

#pageNumber{
    font-family: "Belwe";
    font-size: 60px;
}

#prevButton:hover{
    background-color:#cbf3f0;
    color:black;
    border: 1px black solid;
}
#nextButton:hover{
    background-color:#cbf3f0;
    color:black;
    border: 1px black solid;
}